
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* body{
    background-color: black;
    color: white;
} */
.brandname{
    font-family: 'Mansalva', cursive;
    color: orange;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 350%;
    font-style: italic;
}
.nav-item{
    display: flex;
}
.nav{
    background-color: black;
}
.nav-item ul{
    display: flex;
}
.nav-list{
    margin-left:200px ;
}
.nav-list ul li{
    padding: 50px 10px;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}
.logo-img{
    width: 100px;
}
.home{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/pizzab.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .home{
    text-align: center;
    background-image: linear-gradient(101deg,#131212 42%, #f6b400 0%);
    color: white;
} */
.landing-text{
    padding-right: 60px;
    padding-top: 200px;
    color: white;
    font-size: 300%;
    font-style: italic;
    font-weight: 600;
}
.landing{
    display: flex;
    margin-left: 500px;
}
.btn{
    padding-right: 50px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 30px 30px 0px 30px;
    padding: 30px;
    color: white;
    margin-bottom: 40px;
}
.icons{
    padding-top: 200px;
    text-align: center;
}
.fab{
    padding-left: 50px;
    height: 50px;
}
.linear-image{
    height: 500px;
    width: 50%;
}
.menu{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    background-color:orange;
    height: 70vh;
}
h5{
    text-align: center;
}
.carousel-item{
    padding-top: 50px;
    padding-left: 700px;
}
.orders{
    text-align: center;
    padding: 100px;
    background-color: #000;
    color: white;
}
.form-layers{
    padding-left: 450px;
}
.contact-form{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/piz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    color: white;
    text-align: center;
    font-size: 150%;
}
.customerdata{
    padding-left: 450px;
}
.summary{
    display: none;
}