
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* body{
    background-color: black;
    color: white;
} */
.brandname{
    font-family: 'Mansalva', cursive;
}
.nav-item{
    display: flex;
}
.nav-item ul{
    display: flex;
}
.nav-list{
    margin-left:200px ;
}
.nav-list ul li{
    padding: 50px 10px;
    text-decoration: none;
    list-style: none;
}
.logo-img{
    width: 100px;
}
.landing{
    text-align: center;
}
.icons{
    padding-top: 50px;
}
.fab{
    padding-left: 50px;
}
